html{
    background-color: black;
}

img{
    border: 5px solid white;
    width: 100%;
}
div{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

h1{
    color: white;
    font-family: "Libre Baskerville";
}

p{
    color: white;
    font-family: "Libre Baskerville";
    font-size: 10px;
}